.methodo{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    color: white;
    border-color: #7a02aa;

    background-color: #949494;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}

.meth{
    
    align-content: center;
    align-items: center;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    width: auto;
    
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.margin{
    margin: 1%;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
     
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
}

.table{
    padding: 1%;
    
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}