.methodo{
    width: 30%;
    border: 1px solid;
    border-color: #7a02aa;
    border-radius: 5px;
    margin-right: 1%;
    background-color: #dddddd;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}
.donnee > div{
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.donnee > p{
    padding-bottom: auto;

}
.donnee > p{
    padding-top: auto;

}
.meth{
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: justify;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    width: auto;
    
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.chartFlex1 {
    width: 30%;
    
}
.chartFlex2 {
  width: 23%;

}

.margin{
    margin: 1%;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; 
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
}

.flex{
    display: flex;
    flex-direction: column;
  
    width: 80%
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: auto;
}
.border{
    border-style: solid;
}
