.donnee{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.gbCarte{
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-right: 1%;
    background-color: white;
    
}
.carte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.sCarte{
    display: flex;
    flex-direction: column;
    padding: 1px;
    flex-wrap: wrap;
    
    
}

.donnee > div{
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.donnee > p{
    padding-bottom: auto;

}
.donnee > p{
    padding-top: auto;

}
.table{
    text-align: center;
}

.texte{
    text-align: justify;
}