.titre{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)), 
        url('../../include/211665.jpg'); 
    display: flex;
    flex-direction: row;
    align-items : center;
    text-align: center;
}
.tBan{
    display:flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

}
.icon-right{
  margin-right: 15px;
  margin-left: 10px;
    
}
.icon-left{
    margin-left: 15px;
    margin-right: 10px;
}
.invalid{
    color: rgba(255, 255, 255, 0.5) !important; 
}
.valid{
    color: white !important;
    text-decoration: none !important;
}
 .valid:hover{
     color: #009fa0 !important;
 }

.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}
.gbl{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: auto;
   
}


.bt{
    margin-right: 1%;
    margin-left: 0;
}
body{
    background-color: white !important;
    font-size: 13px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
}





footer {
    position:absolute;
    bottom:0;
    width:100%;

 }

 h5{
     font-size: 18px !important;
 }