.methodo{
   
    border: 1px solid;
    border-color: #7a02aa;
    border-radius: 5px;
    margin: 1%;
 
    
    background-color: #dddddd;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}
.donnee > div{
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.donnee > p{
    padding-bottom: auto;

}
.donnee > p{
    padding-top: auto;

}
.meth{
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: justify;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    border-style: solid;
    width: auto;
   
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.margin{
    margin: 1%;
    margin-bottom: 0;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;  
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
    padding: 2px;
}


.blockMethRep{
    display: flex;
    flex-direction: row;

}
.blockRepart{
    display: flex;
    flex-direction: row;
}
.m40{
    width: 43.5%;
}
.m60{
    width: 53.5%;
}
.m50{
    width: 48.5%;
}
.m70{
    width: 70%;
}
