.methodo{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    color: white;
    border-color: #7a02aa;

    background-color: #949494;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}

.meth{
    
    align-content: center;
    align-items: center;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    width: auto;
    
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.margin{
    margin: 1%;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
}

.meth > p{
    text-align: justify;
    margin: 1px !important;
    padding: 2px;
}

body{
    font-size: 11.5px;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
table{
    text-align: center;
    margin: 0.5%;
    margin-bottom: 0;
    border: 1px solid;
    line-height : 1;
    
}
thead{
    font-size: 12px;
}

.table td, .table th{
    padding: .50rem !important;
    vertical-align: middle;
}

.com{
    text-align: justify;
}