.donnee{
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.gbCarte{
    display: flex;
    flex-direction: column;
    margin:  5px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    background-color: white;
    
}
.carte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

.sCarte{
    display: flex;
    flex-direction: column;
   
    
    
}

.donnee > div{
    
    margin-top: auto;
    
}
.donnee > p{
    padding-bottom: auto;

}
.donnee > p{
    padding-top: auto;

}
.table{
    text-align: center;
}
table{
    border: 1px solid;
}

.texte{
 text-align: justify;
}