.methodo{
    border: 1px solid;
    border-color: #7a02aa;
    border-radius: 5px;
    margin-top:1%;
    background-color: #dddddd;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}

.meth{
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: justify;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    border-style: solid;
    width: auto;
   
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.margin{
    margin: 1%;
    margin-bottom: 0;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;  
   
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
    padding: 2px;
}


.blockMethRep{
    display: flex;
    flex-direction: column;
    margin : 1%;
    align-items: center;
    justify-content: center;

}
.blockRepart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blockPeriode{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;
}

.m50{
    width: 48.5%;
}
.m70{
    width: 70%;
}

.m40{
    width: 45%
}
.m35{
    width: 43%
}
.m60{
    width: 55%
}
.m100{
    width: 98%
}

.blockMethRep > img{
    border: 1px solid;
    border-color: #7a02aa;
    border-radius: 5px;
}

.blockimg{

    display: flex;
    justify-content: center;
  align-items: center;


}

table{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid;
}
tbody{
    font-size: 15px;
}
.table{
    margin-bottom: 0 !important;
}