body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), 
        url('../include/who-owns-the-digital-map-of-the-world-laura-bliss-citylab.jpg'); 
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 100vh;
        color: white;
}

.donnee{
    margin: 2%;
    margin-top: 10%;

}
.donnee > p{
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.flax{
    display: flex;
    flex-direction: row;
    margin: 1%;
    align-items: center;
    justify-content: center;
}

.flax > select,button{
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
}

.titre{
    border-bottom: 1px solid white;
}

select{
    border: 1px solid white !important;
}