.methodo{
  
    border: 1px solid;
    border-color: #7a02aa;
    border-radius: 5px;
    margin: 1%;
 
    margin-top: 1%;
    background-color: #dddddd;
    
}
.sTMeth{
    color: white;
    background-color: #7a02aa;
    text-align: center;
    
}
.donnee > div{
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.donnee > p{
    padding-bottom: auto;

}
.donnee > p{
    padding-top: auto;

}
.meth{
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: justify;
    
    
}
.princBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #007fc9;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    width: auto;
    
}
.sTitre{
    color: white;
    background-color: #007fc9;
    text-align: center;
    
}


.chartFlex1 {
    width: 30%;
    
}
.chartFlex2 {
  width: 23%;

}

.margin{
    margin: 1%;
    margin-bottom: 0%;
}
.texte{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;  
}
.padding{
    padding-left: 1%;
    padding-right: 1%; 
    padding: 2px;
}

.flex{
    display: flex;
    flex-direction: column;

  }
  .flex-row{
    display: flex;
    flex-direction: row;
 
    width: auto;
}
.border{
    border-style: solid;
}

.flex-indic{
    display: flex;
    flex-direction: row;
 
    width: 99%;
    justify-content: center;
    align-items: center;
  
}

.flex-indic > div{
    width: 33%
}

.table{
    padding: 1%;
    
}
table{
    text-align: center;
    border: 1px solid;
}
tbody{
    font-size: 15px;
}